{{ 'related-products-modal.css' | asset_url | stylesheet_tag }}
<script src="{{ 'related-products-modal.js' | asset_url }}"></script>

{% assign isSectionEnabled = section.settings.enable %}
{% assign image = section.settings.image %}
{% assign imageSrcMedium = image | img_url: 'medium' %}
{% assign imageSrcLarge = image | img_url: 'large' %}

{% if isSectionEnabled %}
    <section id="{{ section.id }}" class="related-products-modal hidden">
        <div class="related-products-modal__overlay">
            <div class="related-products-modal__content">
                <div class="related-products-modal__container">
                    <picture>
                        <source media="(max-width: 768px)" srcset="{{ imageSrcMedium }}">
                        <source media="(max-width: 1024px)" srcset="{{ imageSrcLarge }}">
                        <source media="(min-width: 1025px)" srcset="{{ imageSrcLarge }}">
                        <img class="related-products-modal__img" src="{{ imageSrcLarge }}" alt="Image">
                    </picture>
                </div>
                <div class="related-products-modal__container">
                    <h2 class="related-products-modal__heading">{{ section.settings.heading }}</h2>
                    <h3 class="related-products-modal__subheading">{{ section.settings.subheading }}</h3>

                    <ul class="related-products-modal__list">
                        {% for block in section.blocks %}
                            {% if block.type == 'product' %}
                                {% assign product = block.settings.product %}
                                <li data-id="{{product.id}}" class="related-products-modal__item">
                                    <a class="related-products-modal__item-link" href="{{ product.url }}"></a>
                                    <img
                                        class="related-products-modal__item-img"
                                        src="{{ product.featured_image | img_url: 'small' }}"
                                        alt="{{ product.title }}"
                                    >
                                    <div class="related-products-modal__item-info">
                                        <div class="related-products-modal__item-sku">
                                            sku: {{ product.selected_or_first_available_variant.sku }}
                                        </div>
                                        <div class="related-products-modal__item-title">{{ product.title }}</div>
                                        <div class="related-products-modal__item-desc">{{ product.description }}</div>
                                        <div class="related-products-modal__item-price">
                                            {{ product.price | money }}
                                            <span> {{ product.compare_at_price | money }}</span>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <button class="related-products-modal__btn">
                        ADD TO CART
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.1812 7.7C10.706 7.7 11.1679 7.413 11.4058 6.979L13.9108 2.436C14.1697 1.974 13.8339 1.4 13.3021 1.4H2.94591L2.28815 0H0V1.4H1.39948L3.91854 6.713L2.9739 8.421C2.46309 9.359 3.13484 10.5 4.19844 10.5H12.5953V9.1H4.19844L4.96816 7.7H10.1812ZM3.61066 2.8H12.1125L10.1812 6.3H5.26904L3.61066 2.8ZM4.19844 11.2C3.42873 11.2 2.80596 11.83 2.80596 12.6C2.80596 13.37 3.42873 14 4.19844 14C4.96816 14 5.59792 13.37 5.59792 12.6C5.59792 11.83 4.96816 11.2 4.19844 11.2ZM11.1958 11.2C10.4261 11.2 9.80336 11.83 9.80336 12.6C9.80336 13.37 10.4261 14 11.1958 14C11.9656 14 12.5953 13.37 12.5953 12.6C12.5953 11.83 11.9656 11.2 11.1958 11.2Z" fill="black"/>
                        </svg>
                    </button>
                    <button class="related-products-modal__close-btn">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="black"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <script>
        (function() {
          const sectionId = '{{ section.id }}';
          const section = document.getElementById(sectionId);

          if (section) {
            const options = {
              sectionId: sectionId,
              showDelay: {{ section.settings.show_delay }},
              showOnlyOncePerCustomer: {{ section.settings.show_once_per_customer }},
            };

            new RelatedProductsModal(options);
          }
        })();
    </script>
{% endif %}

{% schema %}
{
    "name": "Related Products Modal",
    "settings": [
        {
            "type": "text",
            "label": "Collection",
            "id": "collection",
            "default": "related-products-modal"
        },
        {
            "type": "checkbox",
            "label": "Enable",
            "id": "enable",
            "default": true
        },
        {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
        },
        {
            "type": "text",
            "label": "Heading",
            "id": "heading"
        },
        {
            "type": "text",
            "label": "Subheading",
            "id": "subheading"
        },
        {
            "type": "number",
            "label": "Show Delay (in seconds)",
            "id": "show_delay",
            "default": 5
        },
        {
            "type": "checkbox",
            "label": "Show Only Once Per Customer",
            "id": "show_once_per_customer"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "limit": 2,
            "settings": [
                {
                    "type": "product",
                    "label": "Product",
                    "id": "product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Related Products Modal",
            "category": "Custom"
        }
    ]
}
{% endschema %}
