<script src="{{ 'related-products-modal.js' | asset_url }}" defer="defer"></script>

<div class="modal-section">
    <div class="modal-overlay">
        <div class="modal-content">
            <h2>Modalodal Title</h2>
            <h3>Modalodal Subtitle</h3>

            {% for block in section.blocks %}
                {% if block.type == 'select' %}
                    {% assign collectionHandle = block.settings.collection %}

                    {% for collection in collections %}
                        {% if collection.handle == collectionHandle %}
                            {% for product in collection.products %}
                                <div>
                                    <a href="{{ product.url }}">
                                        <img
                                            src="{{ product.featured_image | img_url: 'small' }}"
                                            alt="{{ product.title }}"
                                        >
                                    </a>
                                    <p>{{ product.sku }}</p>
                                    <p>{{ product.price | money }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Related Products Modal",
    "settings": [
        {
            "type": "text",
            "label": "Collection",
            "id": "collection",
            "default": "related-products-modal"
        },
        {
            "type": "checkbox",
            "label": "Enable",
            "id": "enable",
            "default": true
        },
        {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
        },
        {
            "type": "text",
            "label": "Heading",
            "id": "heading"
        },
        {
            "type": "text",
            "label": "Subheading",
            "id": "subheading"
        },
        {
            "type": "number",
            "label": "Show Delay (in seconds)",
            "id": "show_delay",
            "default": 5
        },
        {
            "type": "checkbox",
            "label": "Show Only Once Per Customer",
            "id": "show_once_per_customer"
        }
    ],
    "blocks": [
        {
            "type": "select",
            "name": "Add Collection",
            "settings": [
                {
                    "type": "text",
                    "id": "collection-title",
                    "label": "Collection title"
                },
                {
                    "id": "collection",
                    "type": "collection",
                    "label": "Chose Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection Blocks",
            "category": "Collection",
            "blocks": [
                {
                    "type": "select"
                }
            ]
        }
    ]
}
{% endschema %}
