<script src="{{ 'related-products-modal.js' | asset_url }}" defer="defer"></script>

{% assign image = section.settings.image %}
{% assign imageSrcSmall = image | img_url: 'small' %}
{% assign imageSrcMedium = image | img_url: 'medium' %}
{% assign imageSrcLarge = image | img_url: 'large' %}

<section id="{{ section.id }}" class="related-products-modal">
    <div class="related-products-modal__overlay">
        <div class="related-products-modal__content">
            <div class="related-products-modal__container">
                <picture>
                    <source media="(max-width: 768px)" srcset="{{ imageSrcSmall }}">
                    <source media="(max-width: 1024px)" srcset="{{ imageSrcMedium }}">
                    <source media="(min-width: 1025px)" srcset="{{ imageSrcLarge }}">
                    <img class="related-products-modal__img" src="{{ imageSrcLarge }}" alt="Image">
                </picture>
            </div>
            <div class="related-products-modal__container">
                <h2 class="related-products-modal__heading">{{ section.settings.heading }}</h2>
                <h3 class="related-products-modal__subheading">{{ section.settings.subheading }}</h3>

                <ul class="related-products-modal__list">
                    {% for block in section.blocks %}
                        {% if block.type == 'product' %}
                            {% assign product = block.settings.product %}
                            <li class="related-products-modal__item">
                                <a class="related-products-modal__item-link" href="{{ product.url }}">
                                    <img
                                        class="related-products-modal__item-img"
                                        src="{{ product.featured_image | img_url: 'small' }}"
                                        alt="{{ product.title }}"
                                    >
                                    <p class="related-products-modal__item-title">{{ product.title }}</p>
                                    <p class="related-products-modal__item-sku">{{ product.sku }}</p>
                                    <p class="related-products-modal__item-desc">{{ product.description }}</p>
                                    <p class="related-products-modal__item-price">{{ product.price | money }}</p>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <button class="related-products-modal__btn">ADD TO CART</button>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Related Products Modal",
    "settings": [
        {
            "type": "text",
            "label": "Collection",
            "id": "collection",
            "default": "related-products-modal"
        },
        {
            "type": "checkbox",
            "label": "Enable",
            "id": "enable",
            "default": true
        },
        {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
        },
        {
            "type": "text",
            "label": "Heading",
            "id": "heading"
        },
        {
            "type": "text",
            "label": "Subheading",
            "id": "subheading"
        },
        {
            "type": "number",
            "label": "Show Delay (in seconds)",
            "id": "show_delay",
            "default": 5
        },
        {
            "type": "checkbox",
            "label": "Show Only Once Per Customer",
            "id": "show_once_per_customer"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "limit": 2,
            "settings": [
                {
                    "type": "product",
                    "label": "Product",
                    "id": "product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Related Products Modal",
            "category": "Custom"
        }
    ]
}
{% endschema %}
